body, ul {
	margin: 0;
	padding: 0;
}

#menu {
	width: 100%;
	height: 150px;
}

#menu li {
	display: inline-block;
	border-right: 1px solid gray;
	padding: 5px 15px;
}

#slider-big {
	width: 100%;
	height: 500px;
	overflow: hidden;
	float: left;
	position: relative;
}

#arrow-left, #arrow-right {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 150px;
	z-index: 8;
	cursor: pointer;
}

#arrow-left {
	left: 50px;
	background-image: url("../img/arrow.png");
	background-position: left;
}

#arrow-right {
	right: 50px;
	background-image: url("../img/arrow.png");
	background-position: right;
}

#slider-big ul {
	float:left;
}
#slider-big li{
	float: left;
	position: relative;
	text-align: center;
}

#slider-big li img.panorama {
	cursor: move;
}

#slider-big li span.no-viewing {
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3
}

#slide-bar {
}

#slider-miniature {
	width: 100%;
	height: 150px;
	overflow: hidden;
	float: left;
}

#slider-miniature ul{
	float:left;
	position: relative;
	cursor:move;
}

#slider-miniature li{
	float:left;
	position: relative;
	padding: 0 5px;
}

#slider-miniature li.current-item img{
	border: green 2px solid;
}

#slider-miniature li {
	position: relative;
	z-index: 3;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: none;
	background: url("../img/scroll.png");
}

.ui-slider .ui-slider-handle {
	width: 50px;
	height: 14px;
}

.ui-slider-horizontal .ui-slider-handle {
	top: 0;
}